<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "Jason Melgoza" %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body class="sign-in">
<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :class => "notice #{name}" %>
<% end %>
<div id="body">
  <div class="container">
    <div class="inner">
      <div class="sign_in_form">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>